%btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;

    &:hover {
        background-color: #188CE8;
        color: #ffffff;
    }

    &:active {
        background-color: #02579d;
    }
}

