.mob-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-burger {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    &:hover svg {
        fill: var(--accent-color);
    }

    @media (min-width: 768px) {
        display: none;
    }
}
.close-burger.is-hidden {
    display: none;
}

.social-link-list {
    display: flex;
    flex-wrap: wrap;

    font-size: 18px;
    line-height: 1.22;

    .item {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    .item a {
        color: var(--accent-color);
    }
    .item:nth-child(2) {
        margin-right: 10px;
        padding-left: 0;
    }

    .item:nth-child(3),
    .item:first-child {
        padding-left: 0;
        margin-right: 10px;
    }
    .item:last-child {
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        border: none;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.btn-burger {
    &.is-open {
        position: absolute;
        top: 8px;
        right: 0;
    }
    .close-burger {
        display: none;
    }
    &.is-open .close-burger {
        display: block;
    }
    &.is-open .open-burger {
        display: none;
    }
}
