.hero {
    max-width: 1600px;
    width: 100%;
    padding: 118px 0;

    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-480\ 1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/hero/hero-480\ 2x.jpg");
    }

    @media (min-width: 768px) {
        background-image: url("../images/hero/hero-768\ 1x.jpg");
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/hero/hero-768\ 2x.jpg");
        }
    }

    @media (min-width: 1200px) {
        background-image: url("../images/hero/hero-1600\ 1x.jpg");
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/hero/hero-1600\ 2x.jpg");
        }
    }
}

.hero-tltle {
    width: 360px;
    margin: 0 auto 30px auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero-button {
    @extend %btn;
    padding: 10px 20px;
}
