.hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../images/hero_bg.jpg");
    padding: 118px 0;
    text-align: center;
}

.hero-tltle {
    width: 360px;
    margin: 0 auto 30px auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero-button {
    @extend %btn;
    padding: 10px 20px;
}
