.client-list {
    display: flex;
    flex-wrap: wrap;

    & .item:not(:nth-child(even)) {
        margin-right: 30px;
    }

    & .item:nth-child(-n + 4) {
        margin-bottom: 30px;
    }
    & .item {
        display: flex;
        width: calc(100% / 2 - 15px);
        height: 92px;
        align-items: center;
        justify-content: center;
        border: 1px solid #afb1b8;
        border-radius: 4px;

        &:hover {
            border-color: var(--accent-color);
        }
        &:hover .logo-client {
            fill: var(--accent-color);
        }
    }
}

.logo-client {
    width: 100px;
    height: 60px;

    fill: #afb1b8;
}
