.whatWeDo {
    display: none;
    @media (min-width: 1200px) {
        display: flex;
        padding-top: 34px;
        padding-bottom: 94px;
    }
}

.whatWeDo-list {
    display: flex;

    & .item:not(:last-child) {
        margin-right: 30px;
    }
}
